kubernetes_host               = "https://REPLACE_WITH_CLUSTER_API"
kubernetes_token              = "SUPPLY_AT_RUNTIME_NOT_IN_GIT"
kubernetes_ca_certificate_b64 = "SUPPLY_AT_RUNTIME_NOT_IN_GIT"
namespace                     = "verideploy"
release_version               = "0.86.0"
environment                   = "production"
external_secret_store_name    = "verideploy-production"
runtime_remote_key            = "verideploy/production/runtime"
image_registry                = "ghcr.io/verideploy"
